In [1]:
import numpy as np
import pandas as pd
from googletrans import Translator
import asyncio
import pandas as pd
from IPython.display import display, HTML

In [2]:
dt = pd.read_csv('dir/shlokas/train.csv')
dt.head()

                                               Sloka              Class
0  यस्मात् त्रस्यन्ति भूतानि मृगव्याधान्मृगा इव। ...  Vidur Niti Slokas
1  एतान्यनिगृहीतानि  व्यापादयितुमप्यलम्।         ...  Vidur Niti Slokas
2   यावत्स्वस्थो ह्यय देहः तावन्मृत्युश्च दूरतः। ...    Chanakya Slokas
3   ईश्वरस्य  स्मरणं प्रभाते उत्थाय अवश्यं  कर्तं...    sanskrit-slogan
4   लोकयात्रा भयं लज्जा दाक्षिण्यं त्यागशीलता।   ...    Chanakya Slokas

In [5]:
dt = pd.read_csv('dir/ramayana/aranyakanda.csv')
print(dt.shape)
dt.head()

(2242, 2)

,content,explanation
0,प्रविश्य तु महारण्यं दण्डकारण्यमात्मवान्।ददर्श...,The invincible and selfpossessed Rama entered ...
1,कुशचीरपरिक्षिप्तं ब्राह्म्या लक्ष्म्या समावृतम...,They (the hermitages) were strewn all over wit...
2,शरण्यं सर्वभूतानां सुसम्मृष्टाजिरं सदा।मृगैर्ब...,The courtyards (of the hermitages) were cleans...
3,पूजितं च प्रनृत्तं च नित्यमप्सरसां गणैः।विशालै...,The hermitages looked glorified with dances b...
4,बलिहोमार्चितं पुण्यं ब्रह्मघोषनिनादितम्।पुष्पै...,The hermitages where various sacrificial offer...

In [4]:
dt = pd.read_csv('dir/ramayana/ayodhyakand.csv')
print(dt.shape)
dt.head()

(4057, 2)

,content,explanation
0,गच्छता मातुलकुलं भरतेन तदाऽनघ।शत्रुघ्नो नित्यश...,Bharata set out for his maternal uncle's hous...
1,तत्र न्यवसद्भ्रात्रा सह सत्कारसत्कृतः।मातुलेना...,Treated with warm hospitality and fatherly aff...
2,तत्रापि निवसन्तौ तौ तर्प्यमाणौ च कामतः।भ्रातरौ...,Though both the heroic brothers stayed there s...
3,राजाऽपि तौ महातेजा स्सस्मार प्रोषितौ सुतौ।उभौ ...,The glorious king Dasaratha also remembered hi...
4,सर्व एव तु तस्येष्टा श्चत्वारः पुरुषर्षभाः।स्व...,"Dasaratha, a bull among men, loved all his fou..."

In [6]:
dt = pd.read_csv('dir/ramayana/balakanda.csv')
print(dt.shape)
dt.head()

(2045, 2)

,content,explanation
0,तपस्स्वाध्यायनिरतं तपस्वी वाग्विदां वरम् ।नारद...,"Ascetic Valmiki enquired of Narada, preeminent..."
1,कोन्वस्मिन्साम्प्रतं लोके गुणवान्कश्च वीर्यवान...,"""Who in this world lives today endowed with ex..."
2,चारित्रेण च को युक्तस्सर्वभूतेषु को हित: ।विद्...,"Who is that one gifted with good conduct, give..."
3,आत्मवान्को जितक्रोधो द्युतिमान्कोऽनसूयक: ।\n\n...,\nWho (among men) is selfrestrained? Who has c...
4,एतदिच्छाम्यहं श्रोतुं परं कौतूहलं हि मे ।महर्ष...,"O Maharshi, I intend to hear about such a man..."

In [7]:
dt = pd.read_csv('dir/ramayana/kishkindakanda.csv')
print(dt.shape)
dt.head()

(2235, 2)

,content,explanation
0,स तां पुष्करिणीं गत्वा पद्मोत्पलझषाकुलाम्। राम...,Arriving with Laksmana at the lake filled wit...
1,तस्य दृष्ट्वैव तां हर्षादिन्द्रियाणि चकम्पिरे।...,He was glad to see it but sad at the thought o...
2,सौमित्रे शोभते पम्पा वैदूर्यविमलोदका।फुल्लपद्म...,'O Saumitri Pampa looks beautiful with its wa...
3,सौमित्रे पश्य पम्पायाः काननं शुभदर्शनम्।यत्र र...,'O Saumitri look at the pleasant forest around...
4,मां तु शोकाभिसन्तप्तं माधवः पीडयन्ति वै।भरतस्य...,Already saddened due to the abduction of Sita ...

In [8]:
dt = pd.read_csv('dir/ramayana/sundarakanda.csv')
print(dt.shape)
dt.head()

(2535, 2)

,content,explanation
0,ततो रावणनीतायाः सीतायाः शत्रुकर्शनः।इयेष पदमन्...,"Hanuman, crusher of enemies resolved to find t..."
1,दुष्करं निष्प्रतिद्वन्द्वं चिकीर्षन् कर्म वानर...,"Hanuman who raised his head and neck, intendin..."
2,अथ वैडूर्यवर्णेषु शाद्वलेषु महाबलः।धीरः सलिलकल...,"Tawnyhued Hanuman, gifted with extraordinary s..."
3,द्विजान् वित्रासयन् धीमानुरसा पादपान् हरन्।मृग...,Wise Hanuman went about like a lion scaring aw...
4,नीललोहितमांजिष्ठपत्रवर्णैः सितासितैः।स्वभावविह...,The mountain was as though decorated with mine...